In [625]:
"""Check and clean the data here."""
import pandas as pd
import importlib
import clean_function as cf

importlib.reload(cf)

import pandas as pd

pd.set_option("display.expand_frame_repr", False)
pd.set_option("display.max_columns", None)   # show all columns
pd.set_option("display.width", None)         # don't wrap lines

In [626]:

bat_data=cf.read_data("dataset1.csv")
rat_data=cf.read_data("dataset2.csv")

In [627]:
cf.check_few_values(bat_data, "DataSet 1")
cf.check_few_values(rat_data, "DataSet 2")

Checking value for DataSet 1:
         start_time  bat_landing_to_food habit  rat_period_start    rat_period_end  seconds_after_rat_arrival  risk  reward  month       sunset_time  hours_after_sunset  season
0  30/12/2017 18:37            16.000000   rat  30/12/2017 18:35  30/12/2017 18:38                        108     1       0      0  30/12/2017 16:45            1.870833       0
1  30/12/2017 19:51             0.074016  fast  30/12/2017 19:50  30/12/2017 19:55                         17     0       1      0  30/12/2017 16:45            3.100833       0
2  30/12/2017 19:51             4.000000  fast  30/12/2017 19:50  30/12/2017 19:55                         41     0       1      0  30/12/2017 16:45            3.107500       0
3  30/12/2017 19:52            10.000000   rat  30/12/2017 19:50  30/12/2017 19:55                        111     1       0      0  30/12/2017 16:45            3.126944       0
4  30/12/2017 19:54            15.000000   rat  30/12/2017 19:50  30/12/2017 19:55                        194     1       0      0  30/12/2017 16:45            3.150000       0

Checking value for DataSet 2:
               time  month  hours_after_sunset  bat_landing_number  food_availability  rat_minutes  rat_arrival_number
0  26/12/2017 16:13      0                -0.5                  20           4.000000          0.0                   0
1  26/12/2017 16:43      0                 0.0                  28           4.000000          0.0                   0
2  26/12/2017 17:13      0                 0.5                  25           4.000000          0.0                   0
3  26/12/2017 17:43      0                 1.0                  71           4.000000          0.0                   0
4  26/12/2017 18:13      0                 1.5                  44           3.753857          0.0                   0

In [628]:
# Check missing values in percentage and also find the datatypes.
print("\nCheck missing value and datatype in DataSet 1")
for col in bat_data.columns:
    cf.missing_values_and_datatype_find(bat_data, col)

print("\nCheck missing value and datatype in DataSet 2") 
for col in rat_data.columns:
    cf.missing_values_and_datatype_find(rat_data,  col)

Check missing value and datatype in DataSet 1
Column: start_time, dtype: object missing: 0 (0.0%)
Column: bat_landing_to_food, dtype: float64 missing: 0 (0.0%)
Column: habit, dtype: object missing: 41 (4.5%)
Column: rat_period_start, dtype: object missing: 0 (0.0%)
Column: rat_period_end, dtype: object missing: 0 (0.0%)
Column: seconds_after_rat_arrival, dtype: int64 missing: 0 (0.0%)
Column: risk, dtype: int64 missing: 0 (0.0%)
Column: reward, dtype: int64 missing: 0 (0.0%)
Column: month, dtype: int64 missing: 0 (0.0%)
Column: sunset_time, dtype: object missing: 0 (0.0%)
Column: hours_after_sunset, dtype: float64 missing: 0 (0.0%)
Column: season, dtype: int64 missing: 0 (0.0%)

Check missing value and datatype in DataSet 2
Column: time, dtype: object missing: 0 (0.0%)
Column: month, dtype: int64 missing: 0 (0.0%)
Column: hours_after_sunset, dtype: float64 missing: 0 (0.0%)
Column: bat_landing_number, dtype: int64 missing: 0 (0.0%)
Column: food_availability, dtype: float64 missing: 0 (0.0%)
Column: rat_minutes, dtype: float64 missing: 0 (0.0%)
Column: rat_arrival_number, dtype: int64 missing: 0 (0.0%)

In [629]:
# Detect and convert object to datetime.
# Seperate orginal data with clean data.
bat_data_clean = cf.detect_and_convert_datetime(bat_data, "DataSet 1")
rat_data_clean = cf.detect_and_convert_datetime(rat_data, "DataSet 2")

Datetime conversion result for DataSet 1
start_time:Converted to datetime
habit:Not a datetime column.
rat_period_start:Converted to datetime
rat_period_end:Converted to datetime
sunset_time:Converted to datetime

Datetime conversion result for DataSet 2
time:Converted to datetime

In [630]:
# Detect and convert object to numeric datatype.
bat_data_clean = cf.detect_and_convert_number(bat_data_clean, "DataSet 1")
rat_data_clean = cf.detect_and_convert_number(rat_data_clean, "DataSet 2")

Numeric conversion result for DataSet 1
habit:Not a numeric column.

Numeric conversion result for DataSet 2

In [631]:
cf.datatype_conversion_summary(bat_data_clean, "Dataset 1")
cf.datatype_conversion_summary(rat_data_clean, "Dataset 2")

 Summary of Dataset 1:
int64             5
datetime64[ns]    4
float64           2
object            1
Name: count, dtype: int64

Detailed View:
start_time                   datetime64[ns]
bat_landing_to_food                 float64
habit                                object
rat_period_start             datetime64[ns]
rat_period_end               datetime64[ns]
seconds_after_rat_arrival             int64
risk                                  int64
reward                                int64
month                                 int64
sunset_time                  datetime64[ns]
hours_after_sunset                  float64
season                                int64
dtype: object

 Summary of Dataset 2:
int64             3
float64           3
datetime64[ns]    1
Name: count, dtype: int64

Detailed View:
time                  datetime64[ns]
month                          int64
hours_after_sunset           float64
bat_landing_number             int64
food_availability            float64
rat_minutes                  float64
rat_arrival_number             int64
dtype: object

In [632]:
# Check missing values in percentage and also find the datatypes.
print("\nCheck missing value and datatype in DataSet 1")
for col in bat_data.columns:
    cf.missing_values_and_datatype_find(bat_data_clean, col)

print("\nCheck missing value and datatype in DataSet 2") 
for col in rat_data.columns:
    cf.missing_values_and_datatype_find(rat_data_clean,  col)

Check missing value and datatype in DataSet 1
Column: start_time, dtype: datetime64[ns] missing: 0 (0.0%)
Column: bat_landing_to_food, dtype: float64 missing: 0 (0.0%)
Column: habit, dtype: object missing: 41 (4.5%)
Column: rat_period_start, dtype: datetime64[ns] missing: 0 (0.0%)
Column: rat_period_end, dtype: datetime64[ns] missing: 0 (0.0%)
Column: seconds_after_rat_arrival, dtype: int64 missing: 0 (0.0%)
Column: risk, dtype: int64 missing: 0 (0.0%)
Column: reward, dtype: int64 missing: 0 (0.0%)
Column: month, dtype: int64 missing: 0 (0.0%)
Column: sunset_time, dtype: datetime64[ns] missing: 0 (0.0%)
Column: hours_after_sunset, dtype: float64 missing: 0 (0.0%)
Column: season, dtype: int64 missing: 0 (0.0%)

Check missing value and datatype in DataSet 2
Column: time, dtype: datetime64[ns] missing: 0 (0.0%)
Column: month, dtype: int64 missing: 0 (0.0%)
Column: hours_after_sunset, dtype: float64 missing: 0 (0.0%)
Column: bat_landing_number, dtype: int64 missing: 0 (0.0%)
Column: food_availability, dtype: float64 missing: 0 (0.0%)
Column: rat_minutes, dtype: float64 missing: 0 (0.0%)
Column: rat_arrival_number, dtype: int64 missing: 0 (0.0%)

In [633]:
# Now handle missing values using median and mode.
rat_data_clean = cf.handle_missing_values(rat_data_clean,"Dataset 2")
bat_data_clean = cf.handle_missing_values(bat_data_clean, "Dataset 1")

Handling missing data in: Dataset 2
No missing data in Dataset 2

Handling missing data in: Dataset 1
Missing in habit filled with mode = fast

In [634]:
# Check missing values if any after handling the data .
print("\nCheck missing value and datatype in DataSet 1")
for col in bat_data.columns:
    cf.missing_values_and_datatype_find(bat_data, col)

print("\nCheck missing value and datatype in DataSet 2") 
for col in rat_data.columns:
    cf.missing_values_and_datatype_find(rat_data,  col)

Check missing value and datatype in DataSet 1
Column: start_time, dtype: datetime64[ns] missing: 0 (0.0%)
Column: bat_landing_to_food, dtype: float64 missing: 0 (0.0%)
Column: habit, dtype: object missing: 0 (0.0%)
Column: rat_period_start, dtype: datetime64[ns] missing: 0 (0.0%)
Column: rat_period_end, dtype: datetime64[ns] missing: 0 (0.0%)
Column: seconds_after_rat_arrival, dtype: int64 missing: 0 (0.0%)
Column: risk, dtype: int64 missing: 0 (0.0%)
Column: reward, dtype: int64 missing: 0 (0.0%)
Column: month, dtype: int64 missing: 0 (0.0%)
Column: sunset_time, dtype: datetime64[ns] missing: 0 (0.0%)
Column: hours_after_sunset, dtype: float64 missing: 0 (0.0%)
Column: season, dtype: int64 missing: 0 (0.0%)

Check missing value and datatype in DataSet 2
Column: time, dtype: datetime64[ns] missing: 0 (0.0%)
Column: month, dtype: int64 missing: 0 (0.0%)
Column: hours_after_sunset, dtype: float64 missing: 0 (0.0%)
Column: bat_landing_number, dtype: int64 missing: 0 (0.0%)
Column: food_availability, dtype: float64 missing: 0 (0.0%)
Column: rat_minutes, dtype: float64 missing: 0 (0.0%)
Column: rat_arrival_number, dtype: int64 missing: 0 (0.0%)

In [635]:
# Now check for dublicate data:
print("\nCheck for duplicate data and fix/ remove them.")
cf.show_duplicate_data(bat_data_clean, "Dataset 1")
cf.show_duplicate_data(rat_data_clean, "Dataset 2")

Check for duplicate data and fix/ remove them.

Finding duplicate data in: Dataset 1
Found 2 duplicate rows:

             start_time  bat_landing_to_food      habit    rat_period_start      rat_period_end  seconds_after_rat_arrival  risk  reward  month         sunset_time  hours_after_sunset  season
563 2018-04-28 00:10:00                  5.0  bat_fight 2018-04-28 00:04:00 2018-04-28 00:14:00                        365     1       0      4 2018-04-27 19:18:00            4.882778       1
564 2018-04-28 00:10:00                  5.0  bat_fight 2018-04-28 00:04:00 2018-04-28 00:14:00                        365     1       0      4 2018-04-27 19:18:00            4.882778       1

Finding duplicate data in: Dataset 2
No duplicates found

Empty DataFrame
Columns: [time, month, hours_after_sunset, bat_landing_number, food_availability, rat_minutes, rat_arrival_number]
Index: []

In [636]:
# Now handle  dublicate data:
print("\nCheck for duplicate data and fix/ remove them.")
bat_data_clean = cf.handle_duplicates(bat_data_clean, "Dataset 1")
rat_data_clean = cf.handle_duplicates(rat_data_clean, "Dataset 2")
cf.show_duplicate_data(bat_data_clean, "Dataset 1")
cf.show_duplicate_data(rat_data_clean, "Dataset 2")

Check for duplicate data and fix/ remove them.

Handling duplicate data in: Dataset 1
Found 1 duplicate rows
Removed 1 duplicates

Handling duplicate data in: Dataset 2
Found 0 duplicate rows
No duplicates found

Finding duplicate data in: Dataset 1
No duplicates found

Finding duplicate data in: Dataset 2
No duplicates found

Empty DataFrame
Columns: [time, month, hours_after_sunset, bat_landing_number, food_availability, rat_minutes, rat_arrival_number]
Index: []

In [637]:
# Manually convert categorical data.
print("Manually convert categorrical coloumn in Dataset 1:")
bat_data_clean = cf.convert_to_category(bat_data_clean, ["month", "season","habit"])

Manually convert categorrical coloumn in Dataset 1:
Converted month to category.
Converted season to category.
Converted habit to category.

In [638]:
print("Manually convert categorrical coloumn in Dataset 2:")
rat_data_clean = cf.convert_to_category(rat_data_clean, ["month"])

Manually convert categorrical coloumn in Dataset 2:
Converted month to category.

In [639]:
# Now check for otlier data:
print("\nCheck for outlier data.")
cf.show_outlier_data(bat_data_clean, "Dataset 1")
cf.show_outlier_data(rat_data_clean, "Dataset 2")

Check for outlier data.

Checking outliers in Dataset 1:
bat_landing_to_food: 88 outliers detected.
seconds_after_rat_arrival: No outliers detected.
risk: No outliers detected.
reward: No outliers detected.
month: 151 outliers detected.
hours_after_sunset: No outliers detected.
season: 151 outliers detected.
Outlier check complete.


Checking outliers in Dataset 2:
month: No outliers detected.
hours_after_sunset: No outliers detected.
bat_landing_number: 24 outliers detected.
food_availability: 202 outliers detected.
rat_minutes: 511 outliers detected.
rat_arrival_number: 92 outliers detected.
Outlier check complete.

                    time  month  hours_after_sunset  bat_landing_number  food_availability  rat_minutes  rat_arrival_number
0    2017-12-26 16:13:00      0                -0.5                  20           4.000000          0.0                   0
1    2017-12-26 16:43:00      0                 0.0                  28           4.000000          0.0                   0
2    2017-12-26 17:13:00      0                 0.5                  25           4.000000          0.0                   0
3    2017-12-26 17:43:00      0                 1.0                  71           4.000000          0.0                   0
4    2017-12-26 18:13:00      0                 1.5                  44           3.753857          0.0                   0
...                  ...    ...                 ...                 ...                ...          ...                 ...
2118 2018-06-01 03:41:00      6                 8.0                  20           1.000000          0.0                   0
2119 2018-06-01 04:11:00      6                 8.5                   7           1.000000          0.0                   0
2120 2018-06-01 04:41:00      6                 9.0                   6           1.000000          0.0                   0
2121 2018-06-01 05:11:00      6                 9.5                   7           1.000000          0.0                   0
2122 2018-06-01 05:41:00      6                10.0                   2           1.000000          0.0                   0

[2123 rows x 7 columns]

In [640]:
# Now handle outliers data:
bat_data_clean = cf.handle_outliers(bat_data_clean, "Dataset 1", method="cap")
rat_data_clean = cf.handle_outliers(rat_data_clean, "Dataset 2", method="cap")

Handling outliers in Dataset 1:
Outliers capped for bat_landing_to_food at [-15.125, 27.875].
seconds_after_rat_arrival: No outliers detected.
risk: No outliers detected.
reward: No outliers detected.
Outliers capped for month at [2.5, 6.5].
hours_after_sunset: No outliers detected.
Outliers capped for season at [1.0, 1.0].
Outlier handling complete.


Handling outliers in Dataset 2:
month: No outliers detected.
hours_after_sunset: No outliers detected.
Outliers capped for bat_landing_number at [-44.5, 103.5].
Outliers capped for food_availability at [0.2467070082499998, 4.82137199025].
Outliers capped for rat_minutes at [-0.23750000025, 0.39583333375].
Outliers capped for rat_arrival_number at [-1.5, 2.5].
Outlier handling complete.

In [ ]:
#Manually handle bad data in habit in dataset 1.
print("Manually handle bad data in habit coloumn of dataset 1.")
bat_data_clean["habit"] = bat_data_clean["habit"].apply(cf.clean_habit)

pick_rat  -->  rat_pick
94.0,305.0,239.0,416.0; 364.8,139.3,462.3,241.3  -->  invalid
rat attack  -->  rat
attack_rat  -->  rat
rat_attack  -->  rat
other_bats  -->  other
rat_pick  -->  rat_pick
other_bats  -->  other
other_bat  -->  other
other_bats  -->  other
other_bats  -->  other
373.0,80.0,504.0,148.0; 274.6,110.7,382.4,267.3  -->  invalid
245.6,179.5,321.4,314.0; 522.4,0.3,592.0,95.5  -->  invalid
405.6,112.3,513.1,215.4; 464.1,197.7,614.9,334.3; 511.5,301.1,639.4,388.9  -->  invalid
187.0,152.0,304.0,240.0; 567.9,88.6,621.1,140.3  -->  invalid
44.0,77.0,157.0,240.0; 253.0,96.0,346.0,147.0  -->  invalid
397.7,159.7,580.2,330.5; 252.0,92.0,346.0,149.0  -->  invalid
218.0,171.0,381.0,269.0; 239.0,106.0,315.0,155.0  -->  invalid
423.0,155.9,535.6,370.9; 238.0,99.0,314.0,160.0  -->  invalid
bat_figiht  -->  bat_fight
415.0,86.5,559.2,140.2; 66.0,157.0,285.0,279.0  -->  invalid
others  -->  other
157.0,2.6,349.0,159.3; 572.1,275.7,638.3,360.0  -->  invalid
530.0,20.0,611.0,156.0; 227.6,128.8,290.8,208.0  -->  invalid
rat_pick  -->  rat_pick
rat_pick  -->  rat_pick
other_bats  -->  other
other_bats  -->  other
others  -->  other
others  -->  other
others  -->  other
others  -->  other
243.6,235.6,432.2,329.8; 559.0,244.0,622.0,395.0  -->  invalid
other_bats  -->  other
rat_pick  -->  rat_pick
511.7,236.3,632.2,404.5; 445.0,199.0,503.0,245.0  -->  invalid
417.7,117.1,635.5,346.0; 243.0,272.0,308.0,379.0; 438.0,230.0,494.0,291.0  -->  invalid
rat_pick  -->  rat_pick
rat_pick  -->  rat_pick
rat_pick  -->  rat_pick
rat_pick  -->  rat_pick
rat_pick  -->  rat_pick
rat_pick  -->  rat_pick
rat_pick  -->  rat_pick
380.6,321.1,550.6,477.5; 263.0,267.0,421.0,435.0  -->  invalid
pick_rat  -->  rat_pick
rat_pick  -->  rat_pick
pick_rat  -->  rat_pick
rat_pick  -->  rat_pick
rat_pick  -->  rat_pick
501.0,358.4,636.2,423.4; 476.0,103.0,634.0,206.0  -->  invalid
pick_rat  -->  rat_pick