In [161]:
"""Check and clean the data here."""
import pandas as pd
import importlib
import clean_function as cf

importlib.reload(cf)

import pandas as pd

pd.set_option("display.expand_frame_repr", False)
pd.set_option("display.max_columns", None)   # show all columns
pd.set_option("display.width", None)         # don't wrap lines

In [162]:

bat_data=cf.read_data("dataset1.csv")
rat_data=cf.read_data("dataset2.csv")

In [163]:
cf.check_few_values(bat_data, "DataSet 1")
cf.check_few_values(rat_data, "DataSet 2")

Checking value for DataSet 1:
         start_time  bat_landing_to_food habit  rat_period_start    rat_period_end  seconds_after_rat_arrival  risk  reward  month       sunset_time  hours_after_sunset  season
0  30/12/2017 18:37            16.000000   rat  30/12/2017 18:35  30/12/2017 18:38                        108     1       0      0  30/12/2017 16:45            1.870833       0
1  30/12/2017 19:51             0.074016  fast  30/12/2017 19:50  30/12/2017 19:55                         17     0       1      0  30/12/2017 16:45            3.100833       0
2  30/12/2017 19:51             4.000000  fast  30/12/2017 19:50  30/12/2017 19:55                         41     0       1      0  30/12/2017 16:45            3.107500       0
3  30/12/2017 19:52            10.000000   rat  30/12/2017 19:50  30/12/2017 19:55                        111     1       0      0  30/12/2017 16:45            3.126944       0
4  30/12/2017 19:54            15.000000   rat  30/12/2017 19:50  30/12/2017 19:55                        194     1       0      0  30/12/2017 16:45            3.150000       0

Checking value for DataSet 2:
               time  month  hours_after_sunset  bat_landing_number  food_availability  rat_minutes  rat_arrival_number
0  26/12/2017 16:13      0                -0.5                  20           4.000000          0.0                   0
1  26/12/2017 16:43      0                 0.0                  28           4.000000          0.0                   0
2  26/12/2017 17:13      0                 0.5                  25           4.000000          0.0                   0
3  26/12/2017 17:43      0                 1.0                  71           4.000000          0.0                   0
4  26/12/2017 18:13      0                 1.5                  44           3.753857          0.0                   0

In [164]:
# Check missing values in percentage and also find the datatypes.
print("\nCheck missing value and datatype in DataSet 1")
for col in bat_data.columns:
    cf.missing_values_and_datatype_find(bat_data, col)

print("\nCheck missing value and datatype in DataSet 2") 
for col in rat_data.columns:
    cf.missing_values_and_datatype_find(rat_data,  col)

Check missing value and datatype in DataSet 1
Column: start_time, dtype: object missing: 0 (0.0%)
Column: bat_landing_to_food, dtype: float64 missing: 0 (0.0%)
Column: habit, dtype: object missing: 41 (4.5%)
Column: rat_period_start, dtype: object missing: 0 (0.0%)
Column: rat_period_end, dtype: object missing: 0 (0.0%)
Column: seconds_after_rat_arrival, dtype: int64 missing: 0 (0.0%)
Column: risk, dtype: int64 missing: 0 (0.0%)
Column: reward, dtype: int64 missing: 0 (0.0%)
Column: month, dtype: int64 missing: 0 (0.0%)
Column: sunset_time, dtype: object missing: 0 (0.0%)
Column: hours_after_sunset, dtype: float64 missing: 0 (0.0%)
Column: season, dtype: int64 missing: 0 (0.0%)

Check missing value and datatype in DataSet 2
Column: time, dtype: object missing: 0 (0.0%)
Column: month, dtype: int64 missing: 0 (0.0%)
Column: hours_after_sunset, dtype: float64 missing: 0 (0.0%)
Column: bat_landing_number, dtype: int64 missing: 0 (0.0%)
Column: food_availability, dtype: float64 missing: 0 (0.0%)
Column: rat_minutes, dtype: float64 missing: 0 (0.0%)
Column: rat_arrival_number, dtype: int64 missing: 0 (0.0%)

In [165]:
# Detect and convert object to datetime.
# Seperate orginal data with clean data.
bat_data_clean = cf.detect_and_convert_datetime(bat_data, "DataSet 1")
rat_data_clean = cf.detect_and_convert_datetime(rat_data, "DataSet 2")

Datetime conversion result for DataSet 1
start_time:Converted to datetime
habit:Not a datetime column.
rat_period_start:Converted to datetime
rat_period_end:Converted to datetime
sunset_time:Converted to datetime

Datetime conversion result for DataSet 2
time:Converted to datetime

In [166]:
# Detect and convert object to numeric datatype.
bat_data_clean = cf.detect_and_convert_number(bat_data_clean, "DataSet 1")
rat_data_clean = cf.detect_and_convert_number(rat_data_clean, "DataSet 2")

Numeric conversion result for DataSet 1
habit:Not a numeric column.

Numeric conversion result for DataSet 2

In [167]:
cf.datatype_conversion_summary(bat_data_clean, "Dataset 1")
cf.datatype_conversion_summary(rat_data_clean, "Dataset 2")

 Summary of Dataset 1:
int64             5
datetime64[ns]    4
float64           2
object            1
Name: count, dtype: int64

Detailed View:
start_time                   datetime64[ns]
bat_landing_to_food                 float64
habit                                object
rat_period_start             datetime64[ns]
rat_period_end               datetime64[ns]
seconds_after_rat_arrival             int64
risk                                  int64
reward                                int64
month                                 int64
sunset_time                  datetime64[ns]
hours_after_sunset                  float64
season                                int64
dtype: object

 Summary of Dataset 2:
int64             3
float64           3
datetime64[ns]    1
Name: count, dtype: int64

Detailed View:
time                  datetime64[ns]
month                          int64
hours_after_sunset           float64
bat_landing_number             int64
food_availability            float64
rat_minutes                  float64
rat_arrival_number             int64
dtype: object

In [168]:
# Check missing values in percentage and also find the datatypes.
print("\nCheck missing value and datatype in DataSet 1")
for col in bat_data.columns:
    cf.missing_values_and_datatype_find(bat_data_clean, col)

print("\nCheck missing value and datatype in DataSet 2") 
for col in rat_data.columns:
    cf.missing_values_and_datatype_find(rat_data_clean,  col)

Check missing value and datatype in DataSet 1
Column: start_time, dtype: datetime64[ns] missing: 0 (0.0%)
Column: bat_landing_to_food, dtype: float64 missing: 0 (0.0%)
Column: habit, dtype: object missing: 41 (4.5%)
Column: rat_period_start, dtype: datetime64[ns] missing: 0 (0.0%)
Column: rat_period_end, dtype: datetime64[ns] missing: 0 (0.0%)
Column: seconds_after_rat_arrival, dtype: int64 missing: 0 (0.0%)
Column: risk, dtype: int64 missing: 0 (0.0%)
Column: reward, dtype: int64 missing: 0 (0.0%)
Column: month, dtype: int64 missing: 0 (0.0%)
Column: sunset_time, dtype: datetime64[ns] missing: 0 (0.0%)
Column: hours_after_sunset, dtype: float64 missing: 0 (0.0%)
Column: season, dtype: int64 missing: 0 (0.0%)

Check missing value and datatype in DataSet 2
Column: time, dtype: datetime64[ns] missing: 0 (0.0%)
Column: month, dtype: int64 missing: 0 (0.0%)
Column: hours_after_sunset, dtype: float64 missing: 0 (0.0%)
Column: bat_landing_number, dtype: int64 missing: 0 (0.0%)
Column: food_availability, dtype: float64 missing: 0 (0.0%)
Column: rat_minutes, dtype: float64 missing: 0 (0.0%)
Column: rat_arrival_number, dtype: int64 missing: 0 (0.0%)

In [169]:
# Now handle missing values using median and mode.
rat_data_clean = cf.handle_missing_values(rat_data_clean,"Dataset 2")
bat_data_clean = cf.handle_missing_values(bat_data_clean, "Dataset 1")

Handling missing data in: Dataset 2
No missing data in Dataset 2

Handling missing data in: Dataset 1
Missing in habit filled with mode = fast

In [170]:
# Check missing values if any after handling the data .
print("\nCheck missing value and datatype in DataSet 1")
for col in bat_data.columns:
    cf.missing_values_and_datatype_find(bat_data, col)

print("\nCheck missing value and datatype in DataSet 2") 
for col in rat_data.columns:
    cf.missing_values_and_datatype_find(rat_data,  col)

Check missing value and datatype in DataSet 1
Column: start_time, dtype: datetime64[ns] missing: 0 (0.0%)
Column: bat_landing_to_food, dtype: float64 missing: 0 (0.0%)
Column: habit, dtype: object missing: 0 (0.0%)
Column: rat_period_start, dtype: datetime64[ns] missing: 0 (0.0%)
Column: rat_period_end, dtype: datetime64[ns] missing: 0 (0.0%)
Column: seconds_after_rat_arrival, dtype: int64 missing: 0 (0.0%)
Column: risk, dtype: int64 missing: 0 (0.0%)
Column: reward, dtype: int64 missing: 0 (0.0%)
Column: month, dtype: int64 missing: 0 (0.0%)
Column: sunset_time, dtype: datetime64[ns] missing: 0 (0.0%)
Column: hours_after_sunset, dtype: float64 missing: 0 (0.0%)
Column: season, dtype: int64 missing: 0 (0.0%)

Check missing value and datatype in DataSet 2
Column: time, dtype: datetime64[ns] missing: 0 (0.0%)
Column: month, dtype: int64 missing: 0 (0.0%)
Column: hours_after_sunset, dtype: float64 missing: 0 (0.0%)
Column: bat_landing_number, dtype: int64 missing: 0 (0.0%)
Column: food_availability, dtype: float64 missing: 0 (0.0%)
Column: rat_minutes, dtype: float64 missing: 0 (0.0%)
Column: rat_arrival_number, dtype: int64 missing: 0 (0.0%)

In [171]:
# Now check for dublicate data:
print("\nCheck for duplicate data and fix/ remove them.")
bat_data_clean = cf.show_duplicate_data(bat_data_clean, "Dataset 1")
rat_data_clean = cf.show_duplicate_data(rat_data_clean, "Dataset 2")

Check for duplicate data and fix/ remove them.

Finding duplicate data in: Dataset 1
Found 2 duplicate rows:

             start_time  bat_landing_to_food      habit    rat_period_start      rat_period_end  seconds_after_rat_arrival  risk  reward  month         sunset_time  hours_after_sunset  season
563 2018-04-28 00:10:00                  5.0  bat_fight 2018-04-28 00:04:00 2018-04-28 00:14:00                        365     1       0      4 2018-04-27 19:18:00            4.882778       1
564 2018-04-28 00:10:00                  5.0  bat_fight 2018-04-28 00:04:00 2018-04-28 00:14:00                        365     1       0      4 2018-04-27 19:18:00            4.882778       1

Finding duplicate data in: Dataset 2
No duplicates found

In [172]:
# Now handle  dublicate data:
print("\nCheck for duplicate data and fix/ remove them.")
bat_data_clean = cf.handle_duplicates(bat_data_clean, "Dataset 1")
rat_data_clean = cf.handle_duplicates(rat_data_clean, "Dataset 2")
bat_data_clean = cf.show_duplicate_data(bat_data_clean, "Dataset 1")
rat_data_clean = cf.show_duplicate_data(rat_data_clean, "Dataset 2")

Check for duplicate data and fix/ remove them.

Handling duplicate data in: Dataset 1
Found 1 duplicate rows
Removed 1 duplicates

Handling duplicate data in: Dataset 2
Found 0 duplicate rows
No duplicates found

Finding duplicate data in: Dataset 1
No duplicates found

Finding duplicate data in: Dataset 2
No duplicates found

In [ ]:
print("Manually convert categorrical coloumn in Dataset 1:")
bat_data_clean = cf.convert_to_category(bat_data_clean, ["month", "season","habit"])

Manually convert categorrical coloumn in Dataset 1:

In [ ]:
print("Manually convert categorrical coloumn in Dataset 2:")
rat_data_clean = cf.convert_to_category(rat_data_clean, ["month"])

Manually convert categorrical coloumn in Dataset 1: