In [10]:
import pandas as pd
import numpy as np
import re
from dateutil import parser
from datetime import timedelta

rat_data =pd.read_csv("dataset2.csv")
print(rat_data.head())

               time  month  hours_after_sunset  bat_landing_number  \
0  26/12/2017 16:13      0                -0.5                  20
1  26/12/2017 16:43      0                 0.0                  28
2  26/12/2017 17:13      0                 0.5                  25
3  26/12/2017 17:43      0                 1.0                  71
4  26/12/2017 18:13      0                 1.5                  44

   food_availability  rat_minutes  rat_arrival_number
0           4.000000          0.0                   0
1           4.000000          0.0                   0
2           4.000000          0.0                   0
3           4.000000          0.0                   0
4           3.753857          0.0                   0

In [ ]:
"""Check missing values in data set 2"""
print("\nMissing Values in Rat Dataset(2):")
print(rat_data.isnull().sum())

#No null data in dataset 2(rat arrival record for 30 mins in platform)

Missing Values in Rat Dataset(2):
time                  0
month                 0
hours_after_sunset    0
bat_landing_number    0
food_availability     0
rat_minutes           0
rat_arrival_number    0
dtype: int64